@keyframes tile1-anim{
    0%{opacity: 0;
    left: 5vw;}
    20%{left: 5;}
    35%{
        opacity: 0;
    }
    100%{opacity: 1;
        left: 0;}
}
@keyframes tile2-anim{
    0%{opacity: 0;
    right: 5vw;}
    20%{right: 5vw;}
    35%{
        opacity: 0;
    }
    100%{opacity: 1;
        right: 0;}
}

.ABMD{
    justify-content: center;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: center;
    background: #e2e5ed;
    
}

.ABMD .info-mat, .ABMD .mob-info-mat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    gap:25px;
    padding-block: 50px;
    border-radius: 50px;

    & div{
        width:fit-content;
        margin-block: auto;
    }

    & img{
        margin: auto;
        width: 21vw;
        object-fit: contain;
        transition: 300ms;
    }
    & img:hover{
        width: 23vw;
    }

    & a{
        margin: auto;
        object-fit: contain;
    }

}


.ABMD .title-box1{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: fit-content;
    width: 50vw;
    min-height: 40vh;
    border-top-right-radius: 100px;

    & h2{
        padding: 20px;
        padding-inline: 30px;
        color: white;
        text-align: center;
        justify-content: center;
        margin: auto;
        font-size: 2vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.ABMD .mob-title-box1{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: fit-content;
    width: 50vw;
    min-height: 40vh;
    border-top-right-radius: 100px;

    & h2{
        padding: 20px;
        padding-inline: 30px;
        color: white;
        text-align: center;
        justify-content: center;
        margin: auto;
        font-size: 4vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

#square-top {
    border-bottom-left-radius:100px 10px;
    border:none;
    width: 50%;
    border-bottom: solid 1px #000;
    height:10px;
 }