@keyframes fade-Me-in{
    from{opacity: 0;
    }
    to{opacity: 1;
    }
}
@keyframes widen{
    0%{width: 0%;
    }
    100%{width: 100%;
    }
}
@keyframes tile1-anim{
    0%{opacity: 0;
    left: 5vw;}
    20%{left: 5;}
    35%{
        opacity: 0;
    }
    100%{opacity: 1;
        left: 0;}
}
@keyframes tile2-anim{
    0%{opacity: 0;
    right: 5vw;}
    20%{right: 5vw;}
    35%{
        opacity: 0;
    }
    100%{opacity: 1;
        right: 0;}
}

.ABMC{
    justify-content: center;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    overflow: hidden;
    margin-bottom: auto;
    padding-bottom: 25vh;
    background-image: linear-gradient(#cbcbcb 70%, #1b1b2846 75%, #1b1b2863 80%, #1b1b2898 85%, #1b1b28ce 90%, #1b1b28 95%, #1b1b28 97%);
}

.ABMC h2 strong{
    background-color: rgba(0, 121, 162, 0.714);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.ABMC div, .ABMC h2{
    width:fit-content;
    margin: auto;
}

.ABMC #tile1{
    position: relative;
    animation-name: tile1-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    background-color: rgb(223, 223, 223);
    padding-block: 20px;
    padding-inline: 5vw;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);

    color:rgba(0, 121, 162, 0.714);
}
.ABMC #tile2{
    position: relative;
    animation-name: tile2-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;  

    background-color: rgb(223, 223, 223);
    padding-block: 20px;
    padding-inline: 5vw;
    border-radius: 10px;
    font-weight: lighter;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);

    color:rgba(0, 33, 94, 0.697);
}

.ABMC .Me-title{

    position: relative;
    animation-name: fade-Me-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin-inline: auto;
    opacity: 0;
    

    width: fit-content;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    font-size: 25px;
    font-family: sans-serif;

    & h1{
        color: rgb(53, 53, 53);
        text-shadow: 0px 0px 22px rgba(255, 255, 255, 0.504);
        padding-inline: 22vw;
    }

    & .bar{
        height: 2px;
        background-color: rgba(0, 0, 0, 0.545);
        width: 0%;
        border-radius: 5px;

        animation-name: widen;
        animation-duration: 500ms;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
}