.hobbies-container {
    background-color: rgb(250, 239, 226);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .hobby {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  
  
  .hobby img {
    margin-top: 5%;
    min-width: 200px;
    width: 30%;
    height: 30%;
    margin-right: 2%;
    margin-left: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    transition:0.3s
  }
  .hobby img:hover {
    width: 35%;
    height: 35%;
    transition:0.3s

  }
  
  .hobby h2 {
    font-size: 34px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style:initial;
    color:rgb(82, 49, 8);
  }
  
  .hobby p {
    margin-top: 5px;
    font:17px;
    margin-left: 8%;
    max-width:900px;
    width:80%;
    transition:1.5s
  }


  /*--------------MOBILE SECTION---------------------*/

  .mobile-hobbies-container {
    display: none;
  }

  .mobile-hobbies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }

  .mobile-hobby img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  