
.about-me-container {
  background-color: whitesmoke;
  display: grid;
  padding-bottom: 30px;
}
.about-me-container div{
  height: fit-content;
}

.avatar {
  text-align: center;
}

.Mob-avatar {
  text-align: center;
}

.Mob-avatar img {
  width: 300px;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
}


.avatar img {
  height: auto;
  margin-left: 2px;
  margin-top: 1cm;
  height: auto;
  margin-bottom: 1cm;
  object-fit: contain;
}

@media(max-width: 780px){
  .avatar img {
    width: 300px;
    border: 2px solid #333;
    border-radius: 3%;

  }
}

@media(min-width: 781px){
  .avatar img {
    width: 380px;
    border-radius: 1%;
  }
}


.info-container > p {
  width: 80%;
  max-width: 800px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto; 
  max-width:900px;
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
  margin-block: 30px;
}

.info-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-container{
  border-radius: 15px;
  background-color: rgb(250, 250, 250);
  padding-inline: 15px;
  margin: auto;
  width: fit-content;
}
.skills-container:hover #skills .scroll, .skills-container:hover #skills .scroll2{
  animation-play-state: paused;
}

#skills{
  position: relative;
  width: 80vw;
  margin: auto;
  height: 12rem;
  overflow-x: hidden;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -122%;
  }
}

#skills .scroll{
  align-items: center;
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  left: 0%;
  top: 0%;
  animation: primary 10s linear infinite;
}
@keyframes secondary {
  from {
    left: 122%;
  }
  to {
    left: 0%;
  }
}
#skills .scroll2{
  align-items: center;
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  left: 0%;
  top: 0%;
  animation: secondary 10s linear infinite;
}

#skills .scroll img, #skills .scroll2 img{
  margin-inline: 20px;
  height: 100px;
  justify-content: center;
}
hr{
  height: 50%;
  border: 1px solid black;
  border-radius: 15px;
  margin: auto
}

.code, .other, .other1{
  display: flex;
  margin: auto;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#skills .code, #skills .other, #skills .other1{
  font-size: 40px;
}

.typewriter-container {
  font-size: 33px;
  width: 100%;
  margin: auto;
  text-align: center;
  Color:rgb(22, 28, 85);
  font-weight: bold;
}

.frame-works{
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  align-items: center;
  justify-self: center;
  gap: 5px;
  padding-inline: 15px;
}

.frame-works li{
  width: fit-content;
  background-color: rgb(194, 223, 245);
  padding: 15px;
  border-radius: 30px;
}

#skills-mobile{
  margin-bottom: 20px;
  .title{
    margin-bottom: 10px;
    display: flex;
    margin-inline: auto;
    justify-content: center;
  }
}

.mobile-container{
  display: grid;
}