.about-me-container {
  background-color: rgb(236, 243, 253);
  display: grid;
}
.about-me-container div{
  height: fit-content;
}

.avatar {
  text-align: center;
}

.Mob-avatar {
  text-align: center;
}

.Mob-avatar img {
  width: 300px;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
}


.avatar img {
  height: auto;
  margin-left: 2px;
  margin-top: 1cm;
  height: auto;
  margin-bottom: 1cm;
  object-fit: contain;
}

@media(max-width: 780px){
  .avatar img {
    width: 300px;
    border: 2px solid #333;
    border-radius: 3%;

  }
}

@media(min-width: 781px){
  .avatar img {
    width: 380px;
    border-radius: 1%;
  }
}


.info-container > p {
  width: 80%;
  max-width: 800px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto; 
  max-width:900px;
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-container {
  display:flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  text-align: center;
  margin-bottom: 50px;
}
h3{
  margin-block: 30px;
}

#skills{
  display: grid;
  justify-content: center;
  max-width: 70%;
  grid-template-columns: auto;
  margin: auto;
}
#skills div{
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto;
}

#skills div li{
  margin: 10px;
}
#skills-mobile{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat( 12, minmax(100px, 1fr) );
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
  margin-inline: 20px;
  gap: 10px;
}

hr{
  height: 50%;
  border: 1px solid black;
  border-radius: 15px;
  margin: auto
}

.code, .other, .other1{
  display: flex;
  margin: auto;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#skills .code, #skills .other, #skills .other1{
  font-size: 40px;
}

#skills-mobile .code, #skills-mobile .other, #skills-mobile .other1{
  font-size: 22px;
}

.other{
  color: rgb(9, 87, 13);
}
.code{
  color: rgb(132, 115, 9);
}
.other1{
  color: rgb(9, 20, 69);
}

.typewriter-container {
  font-size: 50px;
  margin-left:-20px;
  Color:rgb(22, 28, 85);
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}