#live-proj{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    background: #e2e5ed;
    padding-bottom: 30px;
}

#live-proj .title-box{
    display: flex;
    background-color: black;
    height: 100%;
    width: 50vw;
    min-height: 40vh;
    border-bottom-right-radius: 100px;
}

#live-proj h2{
    padding-block: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#live-proj .info-mat{
    display: flex;
    background: #e2e5ed;
}

.cards_container {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50vw;
    margin: auto;
  }

.cards_container .cards__item__link{
    box-shadow: 0 6px 20px rgba(151, 38, 38, 0.42);
    -webkit-filter: drop-shadow(0 6px 20px rgba(255, 56, 56, 0.017));
    filter: drop-shadow(0 6px 20px rgba(255, 56, 56, 0.017));
}
.cards_container .cards__item__img{
    object-fit: contain;
    background-color: #913333;
    padding-block: 50px;

}