form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  label {
    margin-top: 17px;
    display: block;
    margin-bottom: -3px;
    font-size: 1.2rem;
    text-align: center;
  }
  input[type="email"]{
    width: 310px;
  }
  input[type="text"]{
    width: 250px;
  }
  textarea{
    width: 340px;
    height: 240px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 768px) {
    /* targets devices with a minimum width of 768px (tablets and desktops) */
    textarea {
      width: 400px;
      height: 200px;
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    margin-top: 10px;
    padding: 0.5rem ;
    border-radius: 5px;
    border: 2px solid #ccc;
    max-width: 700px;
    font-size: 1.2rem;
  }
  
  .btn-send {
    background-color: #6aa16c; /* Green */
    display: fixed;
    justify-content: center;
    align-items: center;    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Add rounded corners to button */
    transition-duration: 0.4s; /* Add transition effect to button */
    width: 200px;
    height: 50px;
  }
  
  .btn-send:hover {
    background-color: #dcb170; /* Dark green */
    font-size: 20px;
    font-variant: bold;
    margin-bottom: -4px;
    color: rgb(47, 47, 47);
    width: 220px;
    height: 54px;
  }

  .btn-send{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  