.footer-container {
    background-color: #1b1b28;
    padding-block:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-wrap{
  display: flex;
  align-items: center;
  gap:10px;
  & p{
    color: white;
    margin: auto;
    font-size: 25px;
  }

  & .social-icons i{
    margin-inline: 20px;
    font-size: 50px;
    color: white;
  }
}