:root {
    --size: 15px;
  }


  .main-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .welcome-web {
      opacity: 0;
      font-size: 90px;
      padding-bottom: 20vh;
      animation-name: fade-in;
      color:rgba(255, 193, 35, 1);
      animation-delay: 0.3s;
      animation-duration: 4.5s;
      animation-fill-mode: forwards;
      font-weight: bold;
      margin-bottom: 14vh;
    }
    /* Only apply this rule for screens wider than 768px */
    keyframes fade-in {
      from { opacity: 0; }
      to { opacity: 0.6; }
    }
    .main-btns{
      margin-top: -100px;
    }
  
  }

#name{
    position: relative;
    margin: auto;
    top: 17vh;
    font-size: 10vh;
    color: rgb(202, 202, 202);
    z-index: 1;
  }

 div #star-field {
    z-index:1;
    margin-top:-20px ;
    width: 102vw;
    height: 50vh;
    left: -2vw;
    background: #000;
    position: relative;
    overflow: hidden;
    
    .star {
    z-index: 0;
    border-radius: 5px;
    width: calc(var(--size));
    height:calc(var(--size));
    position: absolute;
    background: #262692;
    box-shadow: 0 0 15px #262692;
    border: 2px solid rgb(34, 109, 136);
      
      &.white {
        background: #f2f2f2;
        box-shadow: 0 0 15px #f1f1f1;
      }
    }

    .star.near {
        z-index:2;
        border-radius: 7px;
        width: calc(var(--size) + 8px);
        height: calc(var(--size) + 8px);
      }
      
    .star.far {
      border-radius: 2px;
        z-index: 0;
        width: calc(var(--size) - 6px);
        height: calc(var(--size) - 6px);
      }
  }