video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .main-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    overflow: hidden;
  }

  .main-container > h1{
    color:rgba(198, 198, 198, 0.618);
    font-size: 65px;
    margin-top: -200px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .main-container > p{
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .typewriter-container2 {
    font-size: 90px;
    color:rgba(255, 193, 35, 0.429);
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
    margin-top: -120px;
    margin-bottom: 200px;
  }

  .main-btns{
    margin-top: -100px;
  }