.WebVideo {
    object-fit:fill;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  
  .main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    overflow: hidden;
  }

  .main-container > h1{
    color:rgba(198, 198, 198, 0.618);
    font-size: 65px;
    margin-top: -200px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .main-container > p{
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .typewriter-container-web {
    font-size: 90px;
    color:rgba(255, 193, 35, 0.429);
    font-weight: bold;
    text-align: center;
    margin-bottom: -20px;
    margin-top: -120px;
    margin-bottom: 200px;
  }

  .main-btns{
    margin-top: -100px;
  }

  /*----------------Mobile-------------*/
  .main-mobile-container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
    object-fit: contain;
    overflow: hidden;
    background-position: center top;
  }

  .typewriter-container-mobile {
    font-size: 40px;
    color:rgba(255, 193, 35, 0.429);
    font-weight: bold;
    text-align: center;
    margin-top: -120px;
    margin-bottom: 200px;
    width:100%;
  }

  .MobileBackground {
    object-fit: fixed;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
  }

  .main-mobile-container > h1{
    color:rgba(198, 198, 198, 0.618);
    font-size: 65px;
    margin-top: -200px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .main-mobile-container > p{
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
